@import '../../utils';

.profile-preview {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-right: 1px solid $grey;
}

.profile-preview .avatar {
    margin-right: 1rem;
}

.profile-preview__name {
    font-size: 1.5rem;
    font-weight: 600;
    flex-grow: 1;
}

.profile-preview__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
