.avatar {
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(#333, 0.15);

    &--medium {
        width: 4rem;
        height: 4rem;
    }
    &--small {
        width: 3rem;
        height: 3rem;
    }
}
