.chat-overview {
    display: flex;
    flex-direction: column;
    grid-area: chat;
}

.messages-list {
    overflow-y: scroll;
    flex-grow: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 1px;
}
